notebooks/cache/
notebooks/*
#-----
# --- Sphinx build outputs (no versionar) ---#
docs/build/
**/_build/
**/.doctrees/
**/_sources/
*.pickle
*.inv

# Si llegaran a colarse subcarpetas típicas del build:
docs/build/html/
docs/build/html/_static/
docs/build/html/_images/

# --- Jupyter ---#
**/.ipynb_checkpoints/
**/jupyter_execute/

# Ignorar notebooks
#--- Modulo 1 ---#
docs/source/modulo1/*
!docs/source/modulo1/M1-sesion1.ipynb
!docs/source/modulo1/M1-sesion2A.ipynb
!docs/source/modulo1/index.md
!docs/source/modulo1/.gitkeep
!docs/source/modulo1/M1-sesion3-PT1.ipynb
!docs/source/modulo1/M1-sesion3-PT2.ipynb
!docs/source/modulo1/M1-sesion4.ipynb
!docs/source/modulo1/M1-sesion5-PT1.ipynb
!docs/source/modulo1/M1-sesion5-PT2.ipynb
!docs/source/modulo1/M1-sesion6-PT1.ipynb
!docs/source/modulo1/M1-sesion6-PT2.ipynb
!docs/source/modulo1/M1-sesion7.ipynb
!docs/source/modulo1/M1-sesion8.ipynb
!docs/source/modulo1/apendiceB.ipynb

#--- Modulo 2 ---#
docs/source/modulo2/*
!docs/source/modulo2/.gitkeep
!docs/source/modulo2/index.md
!docs/source/modulo2/M2-sesion9A.ipynb
!docs/source/modulo2/M2-sesion9B.ipynb
!docs/source/modulo2/M2-sesion9Aact.ipynb
!docs/source/modulo2/M2_Act3_MS_MB.ipynb


#--- Modulo 3 ---#
docs/source/modulo3/*
!docs/source/modulo3/.gitkeep
!docs/source/modulo3/index.md


**/jupyter_execute/
soporte/

#--- JetBrains ---#
.idea/
.venv/

#-- Mac
.DS_Store

#-- Claude Code
.claude/